<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>controller</key>
		<string>UITextFieldViewController</string>
		<key>title</key>
		<string>3、文本输入框（UITextField）的用法</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>UIButtonViewController</string>
		<key>title</key>
		<string>2、按钮（UIButton）的用法</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>UILabelViewController</string>
		<key>title</key>
		<string>1、4.29-文本标签（UILabel）的用法</string>
	</dict>
</array>
</plist>
