<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>controller</key>
		<string>UIDatePickerViewController</string>
		<key>title</key>
		<string>19、日期选择控件（UIDatePicker）的用法</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>UIGestureRecognizerViewController</string>
		<key>title</key>
		<string>18、各种手势检测大全（UIGestureRecognizer及其子类）</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>CoreMotionViewController</string>
		<key>title</key>
		<string>17、加速传感器（CoreMotion）的用法，小球加速运动并反弹样例</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>UIScrollViewPagingViewController</string>
		<key>title</key>
		<string>16、使用UIScrollView实现页面滚动切换</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>UIScrollViewViewController</string>
		<key>title</key>
		<string>15、滚动视图（UIScrollView）的用法</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>UIStepperViewController</string>
		<key>title</key>
		<string>14、微调器或叫步进器（UIStepper）的用法</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>UIPickerViewViewController</string>
		<key>title</key>
		<string>13、选择框（UIPickerView）的用法</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>CusomViewUIAlertControllerViewController</string>
		<key>title</key>
		<string>12、自定义UIAlertController的样式2（添加自定义视图）</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>CusomUIAlertControllerViewController</string>
		<key>title</key>
		<string>11、自定义UIAlertController的样式1（修改标题、按钮的字体和颜色）</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>UIAlertControllerViewController</string>
		<key>title</key>
		<string>10、告警提示框（UIAlertController）的用法</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>UISliderViewController</string>
		<key>title</key>
		<string>9、滑块（UISlider）的用法</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>UIProgressViewViewController</string>
		<key>title</key>
		<string>8、进度条（UIProgressView）的用法</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>UIImageViewViewController</string>
		<key>title</key>
		<string>7、图像控件（UIImageView）的用法</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>UISegmentedControlViewController</string>
		<key>title</key>
		<string>6、分段选择控件（UISegmentedControl）的用法</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>UISwitchViewController</string>
		<key>title</key>
		<string>5、开关按钮（UISwitch）的用法</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>UITextViewViewController</string>
		<key>title</key>
		<string>4、多行文本输入框（UITextView）的用法</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>UITextFieldViewController</string>
		<key>title</key>
		<string>3、文本输入框（UITextField）的用法</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>UIButtonViewController</string>
		<key>title</key>
		<string>2、按钮（UIButton）的用法</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>UILabelViewController</string>
		<key>title</key>
		<string>1、4.29-文本标签（UILabel）的用法</string>
	</dict>
</array>
</plist>
