<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>controller</key>
		<string>SnapKitUpdateViewController</string>
		<key>title</key>
		<string>5、自动布局库SnapKit的使用详解2（约束的更新、移除、重做）</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>SnapKitBaseViewController</string>
		<key>title</key>
		<string>4、自动布局库SnapKit的使用详解1（配置、使用方法、样例）</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>AlamofireUploadBreakContinueViewController</string>
		<key>title</key>
		<string>3、HTTP网络操作库Alamofire使用详解3（文件下载，断点续传）</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>AlamofireUploadViewController</string>
		<key>title</key>
		<string>2、HTTP网络操作库Alamofire使用详解2（文件上传）</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>AlamofireBaseViewController</string>
		<key>title</key>
		<string>1、HTTP网络操作库Alamofire使用详解1（配置，以及数据请求）</string>
	</dict>
</array>
</plist>
