<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>controller</key>
		<string>AlamofireFirstViewController</string>
		<key>title</key>
		<string>1、HTTP网络操作库Alamofire使用详解1（配置，以及数据请求）</string>
	</dict>
</array>
</plist>
