<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>controller</key>
		<string>BasicDataTypesViewController</string>
		<key>title</key>
		<string>1、2019.4.8-基本数据类型，及常/变量声明</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>RandomViewController</string>
		<key>title</key>
		<string>2、2019.4.8-使用arc4random()、arc4random_uniform()取得随机数</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>IntervalOperatorViewController</string>
		<key>title</key>
		<string>3、2019.4.8-区间运算符（... 和 ..&lt;）</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>OperatorOverrideViewController</string>
		<key>title</key>
		<string>4、2019.4.8-运算符重载和运算符函数</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>ArrayDataTypesViewController</string>
		<key>title</key>
		<string>5.1、2019.4.22-复杂数据类型（数组）</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>DictionaryDataTypesViewController</string>
		<key>title</key>
		<string>5.2、2019.4.23-复杂数据类型（字典）</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>StructDataTypesViewController</string>
		<key>title</key>
		<string>5.3、2019.4.23-复杂数据类型（结构体）</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>EnumDataTypesViewController</string>
		<key>title</key>
		<string>5.4、2019.4.23-复杂数据类型（枚举）</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>IfSwitchViewController</string>
		<key>title</key>
		<string>6.1、2019.4.23- 控制流/控制结构（if，switch）</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>ForViewController</string>
		<key>title</key>
		<string>6.2、2019.4.23- 控制流/控制结构（for）</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>FunctionViewController</string>
		<key>title</key>
		<string>7、2019.4.23- 自定义函数规则</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>ClassInitViewController</string>
		<key>title</key>
		<string>8.1、2019.4.24- 类初始化</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>ClassDeinitViewController</string>
		<key>title</key>
		<string>8.2、2019.4.24- 类反初始化</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>PropertyViewController</string>
		<key>title</key>
		<string>9、2019.4.24- 属性观察者（willSet与didSet）</string>
	</dict>
</array>
</plist>
